<!DOCTYPE html>
<html>
  <head>
    <title>FlickrOdin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <% if flash[:alert] %>
      <div style="color:red; background-color:yellow;">
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
